 <div ng-repeat="item in $ctrl.items" class="recipes-list col-md-5 col-md-offset-2 ">
      <img ng-src="img/{{item.image}}">
    </div>
    <div ng-repeat="item in $ctrl.items" class="col-md-3">
      
      <p ng-bind-html="item.description"></p>
      
      
    </div> 

<!-- 
    <div ng-repeat="item in $ctrl.items" class="col-sm-8 col-md-8 col-lg-8 col-md-offset-2 clothing-content">
         <div class="col-md-5 col-md-offset-2 no-margin-left clothing-content-body">
          <p><a>Clothing</a> > Outerwear</p>
          <img src="img/tough-mojo-jacket-img1.png">
        </div>
        <div class="col-md-6">
          <h1 class="nowrap">{{item.title}}</h1>
        
         <ul class="text-left list-unstyled text-uppercase">
           <li>
             300 GRAMS OF PRIMALOFT<sup>&reg;</sup> ONE INSULATION
           </li>
           <li>
             SCHOELLER<sup>&reg;</sup> MICORFIBER SHELL
           </li>
           <li>
             DIAGONAL QUILTING
           </li>
           <li>
             MICROFIBER RIPSTOP LINER
           </li>
           <li>3-IN-1 FRONT POCKETS</li>
           <li>
             ZIPPERED CHEST POCKETS
           </li>
           <li>
             MADE IN THE PHILLIPPINES
           </li>
         </ul>
      
    <div>
               <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
              </div>



         <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>

    </div>
   

    <div>
               <div class="btn-group">
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
              </div>



         <div class="btn-group">
              <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
          </div>

    </div>

   
          
        </div>


        </div> -->