/* 
=============================================
Clothing Description Section 
=============================================
*/


.clothing-article{
	background:$description-bg-color;
	padding-top:18px; 
	padding-bottom:200px;
	@include section-shadow-inset($div-section-opacity);
	
}


.clothing-content-body{
	
	a,a:hover,a:focus,a:visited{
		color:$text-color;
		text-decoration:underline;
		cursor:pointer;
	}

}