

//Global Colors

	$header-bg-color:#000;
	$footer-bg-color:#000;
	$main-nav-bg-color:#ececec;
	$reviews-bg-color:#00314f;
	
	$description-bg-color:#898989;

	$highlight-bg-color:#4698a4;
	$highlight-txt-color:#ececec;

// Global Fonts
 
$font-family-sans-serif:  "Raleway", Helvetica, Arial, sans-serif;

$body-text-color:#fff;

$text-color:$body-text-color;

// Buttons Colors 

	$nav-button-color:#ececec;
	$nav-text-color:#2c5362;
	$hover-bg-color:#4698a4;
	$hover-text-color:#ececec;


// Dropdown Menu Colors 

	$dropdown-bg-color:#fff;
	$dropdown-hl-bg-color:$highlight-bg-color;
	$dropdown-text-hl-color:$highlight-txt-color;
	$dropdown-text-color:#000;

